* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
button {
  font-family: Roboto;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #693612;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  max-width: 100%;
  width: 150px;
  min-width: 120px;
}

nav img {
  width: 50px;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f7ce46;
}

nav ul img {
  margin-left: 5px;
  margin-right: 5px;
}

nav ul a:hover {
  filter: brightness(120%);
}

/* HOVER UNDERLINE ANIMATIOM */
nav ul li span {
  display: inline-block;
  position: relative;
}

nav ul li span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7ce46;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HERO */
.hero-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 85px;
  background-image: linear-gradient(
    180deg,
    hsl(25deg 71% 24%) 0%,
    hsl(27deg 72% 28%) 15%,
    hsl(29deg 73% 32%) 34%,
    hsl(31deg 75% 36%) 54%,
    hsl(33deg 78% 40%) 70%,
    hsl(35deg 81% 43%) 82%,
    hsl(35deg 62% 53%) 89%,
    hsl(35deg 63% 62%) 94%,
    hsl(35deg 65% 71%) 98%,
    hsl(35deg 68% 79%) 99%,
    hsl(36deg 74% 88%) 100%
  );
}

.hero {
  display: flex;
  width: 70%;
  gap: 40px;
}

.hero-header {
  font-size: 3rem;
  font-weight: 800;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #f7ce46;
  gap: 10px;
}

.hero-paragraph-text {
  font-size: 1.1rem;
}

button.hero-button {
  width: 120px;
  height: 40px;
  border-radius: 9px;
  background-color: #f7ce46;
  color: #af551d;
  border-color: #f7ce46;
}

/* HERO BUTTON HOVER ANIMATION  */
.hero-button {
  position: relative;
  overflow: hidden;
}

.hero-button:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

/*This activates animation  once the button has been hovered*/
.hero-button:hover::after,
button:focus::after {
  animation: hero-button 1s forwards;
}

@keyframes hero-button {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.hero-button:active {
  box-shadow: 0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow: inset -2px 2px 2px #ccc;
  box-shadow: inset -2px 2px 2px #ccc;
  transform: translate(0, 2px);
  color: #ffc491;
  background-color: #ede358;
}

.hero-button:focus {
  outline: 0;
}

button.hero-button:hover {
  filter: brightness(110%);
}

.hero-image {
  /* flex-basis: 50%; */
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* CARDS */

.cards-header {
  padding: 20px 0;
  background-color: #f7e5ca;
}

.cards-header h1 {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
  padding: 25px 25px;
  color: #af551d;
}

.cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 60px;
  background-color: #f7e5ca;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.card {
  max-width: 200px;
  padding: 0 15px 20px;
}

.card img {
  max-width: 100%;
  border-radius: 7%;
  border-width: 3px;
  border-style: solid;
  border-color: #f7ce46;
}

.card-text {
  color: #af551d;
  font-size: 0.9rem;
}

/* QUOTE */
.quote-container {
  width: 100%;
  background-image: linear-gradient(
    0deg,
    hsl(25deg 71% 24%) 0%,
    hsl(27deg 72% 28%) 15%,
    hsl(29deg 73% 32%) 34%,
    hsl(31deg 75% 36%) 54%,
    hsl(33deg 78% 40%) 70%,
    hsl(35deg 81% 43%) 82%,
    hsl(35deg 62% 53%) 89%,
    hsl(35deg 63% 62%) 94%,
    hsl(35deg 65% 71%) 98%,
    hsl(35deg 68% 79%) 99%,
    hsl(36deg 74% 88%) 100%
  );
  padding: 80px 0;
}

.quote-wrapper {
  width: 60%;
  text-align: right;
  margin: auto;
}

.quote-text {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  color: #f7ce46;
}

.quote-author-text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f7ce46;
}

/* BANNER */
.banner-container {
  display: flex;
  justify-content: center;
  padding: 85px 0 85px;
  background-color: #f7e5ca;
}

.banner-wraper {
  width: 70%;
  display: flex;
  background-image: linear-gradient(
    90deg,
    hsl(25deg 71% 24%) 0%,
    hsl(27deg 72% 28%) 18%,
    hsl(29deg 73% 32%) 38%,
    hsl(31deg 75% 36%) 60%,
    hsl(33deg 78% 40%) 81%,
    hsl(35deg 81% 43%) 96%,
    hsl(35deg 62% 53%) 100%,
    hsl(35deg 63% 62%) 101%,
    hsl(35deg 65% 71%) 101%,
    hsl(35deg 68% 79%) 100%,
    hsl(36deg 74% 88%) 100%
  );
  padding: 40px 80px;
  border-radius: 9px;
}

.banner-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.banner-header {
  font-size: 1.5rem;
  color: #f7ce46;
}

.banner-paragraph {
  font-size: 1.25rem;
  color: #f7ce46;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.banner-button {
  flex: 1;
  width: 120px;
  height: 40px;
  border-radius: 9px;
  background-color: #f7ce46;
  color: #af551d;
  border-color: #f7ce46;
}

/* BANNER BUTTON HOVER ANIMATION  */
.banner-button {
  position: relative;
  overflow: hidden;
}

.banner-button:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

/*This activates animation  once the button has been hovered*/
.banner-button:hover::after,
button:focus::after {
  animation: banner-button 1s forwards;
}

@keyframes banner-button {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.banner-button:active {
  box-shadow: 0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow: inset -2px 2px 2px #ccc;
  box-shadow: inset -2px 2px 2px #ccc;
  transform: translate(0, 2px);
  color: #ffc491;
  background-color: #ede358;
}

.banner-button:focus {
  outline: 0;
}

button.banner-button:hover {
  filter: brightness(110%);
}

/* NAVIGATION STYLES */
.hamburger-icon {
  display: none;
}

.hamburger-icon {
  border: none;
  background-color: transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
  color: #f7ce46;
  font-size: 1.85rem;
  cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
  appearance: none;
}

/* RESPONSIVENESS */
@media screen and (max-width: 990px) {
  header {
    display: block;
  }

  nav ul a {
    position: relative;
    z-index: 1;
    transform-origin: top left;
  }

  nav ul a:hover {
    filter: brightness(120%);
  }

  nav ul {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }

  nav li:nth-child(2),
  nav li:nth-child(4) {
    padding-right: 0px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon .fa-x {
    display: none;
  }

  header:has(.hamburger-icon input[type="checkbox"]:checked) nav ul {
    margin-top: 1rem;
    height: 210px;
    width: auto;
  }

  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
    display: none;
  }

  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display: inline-block;
  }

  .hero-container {
    padding-top: 0;
  }

  .hero {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 25px;
  }

  .hero-header {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .hero-paragraph-text {
    font-size: 1rem;
    line-height: 1.2;
  }

  .hero-button {
    margin-top: 16px;
  }

  .cards-header h1 {
    font-size: 1.7rem;
  }

  .quote-text {
    font-size: 1.5rem;
  }

  .quote-author-text {
    font-size: 1.2rem;
  }

  .banner-wraper {
    flex-direction: column;
  }

  .banner-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: 10px;
  }

  .banner-header {
    font-size: 1.3rem;
  }

  .banner-paragraph {
    font-size: 1.1rem;
  }
}
